<footer>
  <div  class="container"
    fxLayout
    fxLayout.xs="column">
    <div fxFlex='30'>
      <img src="assets/Images/logo.png" alt="">
      <p>It is a long established fact that reader will distract by the readable content of a page...</p>
      <p>Address:The Barn, Ullenhall, Henley-in-Arden B578 5CC, England</p>
      <p>Email:demo@gmail.com</p>
      <p>Phone:+123.456.789 - +123.456.678</p>
      <ul fxLayoutAlign="start start" style="margin-top: 24px;">
        <a fxLayoutAlign="center center" fxhref="#" appHoverhighlight><i class="fa fa-facebook"></i></a>
        <a fxLayoutAlign="center center" fxFlexOffset='25px'  href="#" appHoverhighlight><i class="fa fa-instagram"></i></a>
        <a fxLayoutAlign="center center" fxFlexOffset='25px' href="#" appHoverhighlight><i class="fa fa-twitter"></i></a>
        <a fxLayoutAlign="center center" fxFlexOffset='25px' href="#" appHoverhighlight><i class="fa fa-google"></i></a>
      </ul>
    </div>
    <div class="spliter" fxFlex='70'> 
      <div class="left" fxFlex='33.3333'
          style="margin-left: 30px">
      <h3 class="title">information</h3>
      <ul>
        <li appSlideright>dummy</li>
        <li appSlideright>dummy</li>
        <li appSlideright>dummy</li>
        <li appSlideright>dummy</li>
        <li appSlideright>dummy</li>
      </ul>
      </div>
      <div fxFlex='33.333'
            fxFLexOffset='20px'>
        <h3 class="title">customer service</h3>
        <ul>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
        </ul>
      </div>
      <div fxFlex='33.333'
            fxFLexOffset='20px'>
        <h3 class="title">account</h3>
        <ul>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
          <li appSlideright>dummy</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="partition"></div>
<div class="copyrights " >
  <div class="container" fxLayoutAlign='center center'>
    <p>Copyright © 2018 <span appHoverhighlight>VENTUR</span>. All Right Reserved.</p>
  </div>
</div>