
<div class="errors" *ngFor="let error of serverErrorMsgs">
    <mat-error style="color: red; font-size: 10px;">{{error}}</mat-error>
</div>
<form action="" ngNoForm [formGroup] = "PasswordForm" (ngSubmit)="onSave()">
    <mat-form-field class="half-width">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" type="password" pattern="[a-zA-Z0-9]*">
        <mat-error style="color: red; font-size: 10px;" *ngIf='formErrors.oldPassword'>{{formErrors.oldPassword}}</mat-error>
    </mat-form-field>
    <p></p>
    <mat-form-field class="half-width">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="password" pattern="[a-zA-Z0-9]*">
        <mat-error style="color: red; font-size: 10px;" *ngIf='formErrors.newPassword'>{{formErrors.newPassword}}</mat-error>
    </mat-form-field>
    <p></p>
    <mat-form-field class="half-width">
        <mat-label >Confirm New Password</mat-label>
        <input matInput formControlName="confirmNewPassword" type="password" pattern="[a-zA-Z0-9]*">
        <mat-error style="color: red; font-size: 10px;" *ngIf='formErrors.confirmNewPassword'>{{formErrors.confirmNewPassword}}</mat-error>
    </mat-form-field>
    <button class="basic-button full-width" [disabled]="!PasswordForm.valid">save</button>
</form>