@import '../../colorvariables.scss';

.half-width{
    width: 47%
}
.full-width{
    width: 100%;
}
.title{
    h4{
        margin: 12px 0;
        color:rgb(66, 66, 66);
        text-transform: uppercase;
        font-weight: 400;
        font-weight: 16px;
    }
}

.spacer{
    margin: 5px;
}
.forgot{
    a{
        text-transform: capitalize;
    }
    a:hover{
        color: $primary;
    }
}

.basic-button{
    height: 33px;
    width: 90px;
    font-size: 13px;
}