<div class="container" fxLayout='column' fxLayoutAlign='center center'>
  <h3 style="color: rgb(32, 32, 32); font-size: 20px; font-weight: 400;">Login or Create an Account</h3>
  <div class="partition"></div>
  <div class="log-reg" fxLayout fxLayout.xs='column' fxLayoutAlign='center start'>
    <div  class='signinup-component'>
      <app-login style="width: 100%;" fxFlexOffset='10px'></app-login>
    </div>
    <div class="vert-partition" ></div>
    <div  class='signinup-component'>
      <app-register style="width: 100%;" ></app-register>
  </div>
</div>