$font-color: #646464;
$primary: rgb(158, 16, 75);
$background-dark: #1c1d22;
$footer-secondary: #adadad;
$lightgray: rgb(204, 204, 204);
$title-color: #2f2f2f;
$camel: #e2a370;
$beige:#FED09E;
$limegreen: #04df33;
