<div class="profile">
    <div class="container">
        <div class="top" fxLayout 
                         fxLayoutAlign="center start"
                         fxLayoutAlign.xs="start center"
                         fxLayout.lt-sm="column">
            <div class="profile-dashboard">
                <ul >
                    <li fxLayoutAlign= "start center" routerLink="./Overview" routerLinkActive="active-top">
                        <i class="fa fa-user"></i><p>My Account</p>
                    </li>
                    <li fxLayoutAlign= "start center" routerLink="./Orders" routerLinkActive="active"> 
                        <i class="fa fa-archive"></i><p>Orders</p>
                    </li>
                    <li fxLayoutAlign= "start center" routerLink="./Reviews" routerLinkActive="active">
                        <i class="fa fa-comment"></i><p>Reviews</p>
                    </li>
                    <li fxLayoutAlign= "start center" routerLink="./SavedItems" routerLinkActive="active">
                        <i class="fa fa-heart"></i><p>Saved Items</p>
                    </li>
                    <li fxLayoutAlign= "start center" routerLink="./RecentlyViewed" routerLinkActive="active">
                        <i class="fa fa-undo"></i><p>Recently Viewed</p>
                    </li>
                </ul>
                <div class="logout" fxLayoutAlign= "center center" (click)="Logout()">
                    <p>logout</p>
                </div>
            </div>
            <div class="controls">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>